body{
    background-color: #f5d9df;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
}
.textColor h2{
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.textColor p{
    color:#d25b8d;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

#mainNavbar .navbar-brand{
    color:#ea1c2c;
    font-size: 1.5rem;
    
}
.contentSpace{
    margin-top:100px;
    margin-bottom: 100px;
}

#mainNavbar .nav-link{
    font-size:1.5rem;
    font-weight: 100;
    color:white;
    margin:0px 5px;
}

#mainNavbar .nav-link:hover{
    color:#ea1c2c;
}
#mainNavbar .b:hover{
    border-bottom:2px solid #ea1c2c;
    
}
#mainNavbar .b:active{
    border-bottom:2px solid #ea1c2c;
}
#headingGroup span{
    color:#ea1c2c;
}
#headingGroup h1{
    font-weight: 100;
    font-size: 3rem;
}
.navbar.scrolled{
    background:rgb(234, 126, 225);
    transition: background 1s;
}
@media (max-width: 768px) { 
    #mainNavbar .b:hover{
        border:0px;
    }
 }